/* Source sans pro for titles/headers, Roboto for description, slabo for serif intros*/
html, body {overflow-x: hidden;}

/* Navigation */
#bootstrap-override-nav { /* Override bootstrap styling for navbars using ID selector*/
	position: absolute;
	width: 100%;
	padding: 10px 0px;
	background: linear-gradient(rgba(20, 20, 20, 0.2), rgba(20, 20, 20, 0.2));
	z-index: 999;
}

.navigation > .container-fluid > .row > .navbar-header > .navbar-toggle {margin-top: 4.5%;}
.in > .primary-nav > ul > li {
	display: block;
	text-align: center;
}

.logo img {
	max-width: 90px;
	margin-left: 35px;
}

.primary-nav {padding-right: 50px;}
.primary-nav li {
	display: inline-block;
	margin: 0px 20px;
	color: white;
	font-size: 13pt;
}

.primary-nav a {
	color: white;
	padding-bottom: 5px;
	-webkit-transition: border 50ms linear;
	-moz-transition: border 50ms linear;
	-o-transition: border 50ms linear;
	-ms-transition: border 50ms linear;
	transition: border 50ms linear;
}

.primary-nav a:hover {
	text-decoration: none;
	color: white;
	border-bottom: 2px solid #F5F5F5;
}


/******** HOME PAGE ********/
/* Main banner */
.main {
	background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(./images/apple-1838564_1920-main.jpg); /* Browser prefixes*/
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	padding: 14.7% 0; /* Center contents within the container, make background image cover*/
	color: white;
}

.entry-banner h1 {font-family: "Source Sans Pro", Arial, sans-serif;}
#hello {font-size: 28pt;}
#name {font-size: 100pt;}
#person-description {font-size: 33pt;}
.banner-buttons .btn-border, .submit-contact .btn-border, .projects .btn-border {
	background-color: transparent;
	width: 100%;
	margin-top: 40px;
	color: white;
	font-family: "Roboto", Helvetica, serif;
	font-size: 16pt;
	border-radius: 0;
	border: 2px solid white;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.banner-buttons .btn-border:hover, .submit-contact .btn-border:hover, .projects .btn-border:hover {
	border: 2px solid white;
	background-color: white;
}

/* About Me */
.about {
	padding: 3% 0;
	background: linear-gradient(rgba(225, 225, 225, 0.94), rgba(225, 225, 225, 0.94)), url(./images/aboutbackground.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
}

.about-header h1 {
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 34pt;
}

.about-header-quote {
	font-family: "Slabo", Helvetica, serif;
	font-style: italic;
	margin-bottom: 50px;
}

.about-general-description h2, .about-statistic-description h2 {
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 24pt;
	margin-bottom: 20px; 
}

.about-general-description p, .about-statistic-description p {
	font-family: "Roboto", Helvetica, serif;
	font-size: 12pt;
	margin-bottom: 20px;
}

.about-statistic-description p {margin: 5px 0px;}
.about-option-buttons .btn-black-border, .resume .btn-black-border, .projects-breakdancing .btn-black-border {
	background-color: transparent;
	width: 100%;
	margin-top: 40px;
	color: black;
	font-family: "Roboto", Helvetica, serif;
	font-size: 16pt;
	border-radius: 0;
	border: 2px solid black;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.about-option-buttons .btn-black-border:hover, .resume .btn-black-border:hover, .projects-breakdancing .btn-black-border:hover {
	border: 2px solid #464646;
	background-color: #464646;
	color: white;
}

.summary {
	background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(./images/architecture-2178604_1920-main1.jpg);
	background-attachment: fixed;
	background-attachment: center center;
	color: white;
	padding: 60px 30px;
}

.summary .row {
	padding: 50px 6%;
	width: 100%;
}

.summary h3 {font-family: "Source Sans Pro", Arial, sans-serif;}
.summary p {font-family: "Roboto", Helvetica, serif;}
.projects {
	background-color: #59585d;
	padding: 50px;
	color: white;
}

.projects-header-quote {margin-bottom: 20px;}
.projects h1, .projects h3 {font-family: "Source Sans Pro", Arial, sans-serif;}
.projects p {
	font-family: "Roboto", Helvetica, serif;
	padding: 0 10px;
}

.projects-header-quote {font-style: italic;}
.luvtalk-project {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./images/luvtalklogo.png);
	background-position: center center;
}

.personal-website-project {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./images/logo.svg);
	background-position: center center;
}

.strike-zone-project {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./images/mlbproject.png);
	background-position: center center;
}

.sdac-project {
	background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./images/sdacproject.jpg);
	background-position: center center;
}

.resume {
	padding: 50px 0px;
	font-family: "Calisto MT", Helvetica, serif;
}

.resume-header {margin-bottom: 20px;}
.objective h4, .education h4, .work-experience h4, .resume-projects h4, .activities h4, .skills h4, .endorsements h4 {border-bottom: 1px solid black;}
.contact {
	background-color: #3A3A3A;
	padding: 50px 150px;
	color: white;
}

.contact h1, .contact h2, .contact h4 {font-family: "Source Sans Pro", Arial, sans-serif;}
.contact p {font-family: "Roboto", Helvetica, serif;}
.contact-header-quote {font-style: italic;}
.contact-header-quote h4 {margin: 5px 0;}
.contact-instructions, .contact-form-body {
	margin-top: 50px;
	padding: 0px 6%;
}

.lastname h4 {visibility: hidden;}
.email, .message {margin: 15px 0px;}
.contact input, .contact textarea {
	width: 100%;
	color: black;
	padding: 10px;
	margin: 3px 0px;
}

.validate-error {
	display: none;
	color: red;
}

.submit-contact .btn-border {margin-top: 10px;}
/******* END HOME PAGE ********/


/******* START PROJECTS PAGE *******/
.projects-banner {
	background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.7)), url(./images/projectsmainimage.jpg); /* Browser prefixes*/
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	height: 100vh;
	color: white;
}

.projects-banner h1 {
	margin-top: 42vh;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 100pt;
}

.projects-selector {border-right: 1px solid #D0D0D0;}
.projects-selector ul {
	list-style: none;
	padding: 20px 0 50px 0; /*Eliminate ul indent */
	margin: 0;
	font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 14pt;
}

.projects-selector ul li {padding: 10px;}
.projects-selector ul li a {
	color: black;
	cursor: pointer;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.projects-selector ul li a:hover {
	text-decoration: none;
	color: #8A8A8A;
}

.projects-selector .active-link {color: #8A8A8A;}
.projects-dropdown {display: none;}
#dropdown {cursor: pointer;}
#dropdown .dropdown-toggle {
	width: 100%;
	padding: 15px 0;
	margin: 30px 0 0 0;
	font-size: 12pt;
}

#dropdown .dropdown-menu {
	width: 100%;
	text-align: center;
	font-size: 12pt;
}

#dropdown .dropdown-menu .divider {margin: 0;}
#dropdown .dropdown-menu li a {padding: 20px 0;}
.projects-description {
	padding: 20px 35px 50px 35px;
	min-height: 100vh;
}

.projects-description h2 {font-family: "Source Sans Pro", Arial, sans-serif;}
.projects-description p {font-family: "Roboto", Helvetica, serif;}
.disabled {position: absolute;}
.video {text-align: center;}
.projects-breakdancing .btn-black-border {margin: -30px 0px 20px 0px;}
/******* END PROJECTS PAGE *******/

.footer {
	background-color: black;
	color: white;
	padding: 50px 0;
	font-family: "Roboto", Helvetica, serif;
}

.footer h3, .footer h4 {font-family: "Source Sans Pro", Arial, sans-serif;}
.facebook, .linkedin, .pinterest, .email-icon {padding: 31%;}
.footer img {
	background-color: #8A8A8A;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.footer img:hover {background-color: white;}
.personal-contact h4 span {
	font-size: 14pt;
	margin: 0 20px;
}

.company-information, .home-footer, .portfolio-footer, .resume-footer, .contact-footer {margin-top: 50px;}
.footer ul {
	list-style: none;
	padding-left: 0;
}

.home-footer a, .portfolio-footer a, .resume-footer a, .contact-footer a {
	color: gray;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
	-o-transition: all 200ms ease-out;
	-ms-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}

.home-footer a:hover, .portfolio-footer a:hover, .resume-footer a:hover, .contact-footer a:hover {
	text-decoration: none;
	color: white;
}

@media screen and (max-width: 769px){
	/* HOME PAGE MOBILE STYLING*/
	.summary {text-align: center;}
	.summary img {
		display: block;
		margin: auto;
		padding: 15%;
	}

	.projects {padding: 50px 0;}
	.contact {padding: 50px 0;}
	/* END HOME PAGE MOBILE STYLING*/

	/* PROJECTS PAGE MOBILE STYLING*/
	.projects-dropdown {display: initial;}
	.selector-wrapper {display: none;}
	.projects-banner-header h1 {font-size: 65pt;}
	/* END PROJECTS PAGE MOBILE STYLING*/
}

@media screen and (max-width: 550px){
	/* HOME PAGE MOBILE STYLING*/
	.main {padding: 31% 0;}
	#hello {font-size: 20pt;}
	#name {font-size: 74pt;}
	#person-description {font-size: 26pt;}
	/* END HOME PAGE MOBILE STYLING */
}